# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake output
*.vcxproj
*.vcxproj.*
CMakeFiles/
RelWithDebInfo/
cmake_install.cmake
*.dir/
*.sln
obs-streamelements_autogen/
pdbs/
ui_*.h
prep.bat
*.qrc.depends
